<div class="main-content">
    <div class="error-box">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="error text-center">
                        <img src="../../assets/images/error-404.png" class="img-fluid" alt="404 Not found" /><br />
                        <a routerLink="/" class="button">Go to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>