<div class="main-content">
    <app-navigation-map></app-navigation-map>
    <section>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-5">
                    <img src="../../assets/images/about/whywe.png" class="img-fluid" alt="about" />
                </div>
                <div class="col-lg-6">
                    <h2 class="mb-3 iq-fw-8 mt-5 mt-lg-0">Why We?</h2>
                    <p class="mb-3 iq-fw-6">
                        We are player in the field providing end to end technology
                        solutions including development and maintenance services
                        spanning across multiple platforms including custom application
                        development, system integration, support and maintenance, remote
                        infrastructure management, quality assurance and testing to
                        global customers.
                    </p>
                    <p class="iq-fw-6">
                        We build scalable, high performing, world class enterprise
                        solutions using the collective experience of our domain experts
                        in the areas of Java and Microsoft technologies like SharePoint,
                        .Net and are venturing into the areas of Mobile Application
                        development and Azure Machine Learning. We are led by experts,
                        visionaries and veterans who leverage their experience to
                        provide our global customers value for their money, increased
                        productivity and competitive edge over their business rivals.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="gray-bg">
        <div class="container">
            <div class="row justify-content-around flex-row-reverse">
                <div class="col-lg-5">
                    <img src="../../assets/images/about/misionvision.png" class="img-fluid" alt="mission and vission" />
                </div>
                <div class="col-lg-6">
                    <h2 class="mb-3 iq-fw-8 mt-5 mt-lg-0">Mission &amp; Vision</h2>
                    <ul class="list-inline search-tick">
                        <li class="list-inline-item">
                            At Atlas our mission is to work closely with our clients to
                            understand and tackle their business problems to develop
                            solutions that results in measurable outcomes.
                        </li>
                        <li class="list-inline-item">
                            <strong>To provide</strong> exceptional customer experience
                            demonstrated by leveraging technology to achieve measurable
                            business advantage . <strong>To partner</strong> Fortune 500
                            companies in our chosen verticals.
                            <strong>To contribute</strong> significantly back to society
                        </li>
                        <li class="list-inline-item">
                            <strong>Responsibility:</strong> Strong system of authority
                            and responsibility. <strong>Openness:</strong> Environment of
                            openness, trust and collaboration.
                            <strong>Accountability:</strong> Strong system of
                            accountability. <strong>Risk:</strong> Aim high, take risks
                            and grow faster than the market.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <app-partners></app-partners>
</div>