<section class="our-services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2 class="title">Why Choose Us?</h2>
                    <p class="sub-title">We provide artificial intelligence consulting to help organizations implement these technologies today.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel slides">
                    <div class="slideList">
                        <ul>
                            <li id="slide_1">
                                <img src="../../../assets/images/about/Deployment.jpg" class="img-fluid" alt="img" />
                            </li>
                            <li id="slide_2">
                                <img src="../../../assets/images/about/Integration.jpg" class="img-fluid" alt="img" />
                            </li>
                            <li id="slide_3" class="active">
                                <img src="../../../assets/images/about/DataScienceAuditing.jpg" class="img-fluid" alt="img" />
                            </li>
                            <li id="slide_4">
                                <img src="../../../assets/images/about/MachineLearningAI.jpg" class="img-fluid" alt="img" />
                            </li>
                        </ul>
                    </div>
                    <div class="carouselLinks">
                        <span class="object-img scan"></span>
                        <img src="../../../assets/images/about/02.png" class="img-fluid object-img" alt="img" />
                        <ul>
                            <li class="text-left object-new">
                                <a data-links-to="slide_1" class="one" href="#">
                                    <h3 class="iq-fw-8">Deployment</h3>
                                    <p>
                                        Test, integrate, and deploy custom software components. We deliver business value - beyond mere offshore advantages, lowered costs and faster turnaround times.
                                    </p>
                                </a>
                            </li>
                            <li class="object-new">
                                <a data-links-to="slide_2" class="one" href="#">
                                    <h3 class="iq-fw-8">Integration</h3>
                                    <p>
                                        Our Business Intelligence Practice uses a complete integrated approach to help our customers in their efforts to unlock the value buried deep in their data.
                                    </p>
                                </a>
                            </li>
                            <li class="object-new selected">
                                <a data-links-to="slide_3" class="two" href="#">
                                    <h3 class="iq-fw-8">Data Science &amp; Auditing</h3>
                                    <p>
                                        Audit, validate, and deeply understand the available data and broader context.
                                    </p>
                                </a>
                            </li>
                            <li class="object-new">
                                <a data-links-to="slide_4" class="two" href="#">
                                    <h3 class="iq-fw-8">Machine Learning &amp; AI</h3>
                                    <p>
                                        Take advantage of the latest developments in artificial intelligence to enhance your product and capabilities.
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>