<div id="banner" class="banner">
    <div class="banner-text">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
                    <h1>Business Intelligence for the Real World</h1>
                    <p class="mb-5">
                        With a proven deep understanding of the most widely-used BI tools and association with Business Intelligence vendors.
                    </p>
                    <a routerLink="/technology" class="button mb-lg-0 mb-5">More Info</a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-right position-relative">
                    <img src="../../assets/images/banner/02.png" class="img-fluid banner-box" alt="images" />
                    <div class="banner-img text-center">
                        <img class="img-fluid rounded-circle position-relative" src="../../assets/images/banner/01.jpg" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-services></app-services>
<app-portfolio-list-new></app-portfolio-list-new>
<app-client-section></app-client-section>